<div class="jumbotron">
    <h1>{{title}}</h1>
</div>

<div class="container">
    <div class="col-sm-12 col-md-4" style="float:right; margin-bottom:10px;">
        <div class="input-group">
            <input type="text" data-ng-model="search.text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" data-ng-click="toggleShowOnlyFavorites()" type="button">{{showOnlyFavorites ? 'Show all books' : 'Show only favorites'}}</button>
            </span>
        </div><!-- /input-group -->

    </div>
    <ul style="float:left;width:100%;padding:0 !important;">
        <li data-ng-repeat="book in books | filter:filterByTitle | orderBy:'Favorite':true" style="float:left; display:inline-block; padding:5px;" class="col-md-4 col-sm-6 col-xs-12">
            <div style="width:100%; background-color:#fcfcfc; border:1px solid #ccc; border-radius:3px; overflow:hidden; position: relative;">
                <div data-ng-click="toggleFavorite(book)" class="inner-triangle" style="cursor:pointer; border-left: 40px solid transparent; border-right: 40px solid #f39c12; border-bottom: 40px solid transparent; height: 0; width: 0; position: absolute; right: 0px; z-index: 2;">
                    <span data-ng-hide="book.Favorite" class="glyphicon glyphicon-star-empty" style="color:white;margin-left:20px; margin-top:4px;"></span>
                    <span data-ng-show="book.Favorite" class="glyphicon glyphicon-star" style="color:white;margin-left:20px; margin-top:4px;"></span>
                </div>
                <div style="width:100%; max-height:210px; overflow:hidden; background:url(../images/books/{{book.CoverImage}}) repeat-x center center; height:300px;">
                    <!--                <img data-ng-src="images/books/{{book.CoverImage}}" style="width:100%;max-height:300px;object-fit:cover;" height="100%" alt="{{book.Title}}" />-->
                </div>
                <div style="padding:5px;">
                    <span style="font-size:16px;"><a href="#/book/{{book.Id}}"><strong>{{book.Title}}</strong></a></span>
                    <br />
                    <i>{{book.Author}}</i>
                    <br />
                    <span>{{book.Publisher}}</span>
                    <br />
                    <span check-isbn="ISBN-{{book.ISBN}}"></span>
                    <hr />
                </div>
            </div>
        </li>
    </ul>
</div>
