<div>
    <h1>{{title}}</h1>

    <label>
        Search
        <input type="text" data-ng-model="search.text" />
    </label>

    <button type="button" data-ng-click="toggleShowOnlyFavorites()">{{showOnlyFavorites ? 'Show all books' : 'Show only favorites'}}</button>

    <ol>
        <li data-ng-repeat="book in books | filter:filterByTitle | orderBy:'Favorite':true" style="clear:both;" 
            data-ng-style="{'background-color': book.Favorite ? 'gold' : inherit}">
            <div style="float:left; min-width: 100px; text-align: center;">
                <img data-ng-src="images/books/{{book.CoverImage}}" style="max-height: 100px;" alt="{{book.Title}}" />
            </div>
            <div>
                <a href="#/book/{{book.Id}}"><strong>{{book.Title}}</strong></a> - 
                <a href="" data-ng-click="toggleFavorite(book)">{{book.Favorite ? 'FAV' : 'NOT FAV'}}</a>

                <br />
                <span>{{book.Author}}</span>
                <br />
                <span>{{book.Publisher}}</span>
                <br />
                <span check-isbn="ISBN-{{book.ISBN}}"></span>
                <hr />
            </div>
        </li>
    </ol>
</div>