<h1>
    <span data-ng-hide="book.Favorite" data-ng-click="toggleFavorite(book)" class="glyphicon glyphicon-star-empty" style="color:#f39c12;margin-left:20px; margin-top:4px; cursor:pointer;"></span>
    <span data-ng-show="book.Favorite" data-ng-click="toggleFavorite(book)" class="glyphicon glyphicon-star" style="color:#f39c12;margin-left:20px; margin-top:4px; cursor:pointer;"></span>
    {{book.Title}}
</h1>
<div>
    <div class="col-md-4 col-sm-12" style="float:left; display:inline-block;">
        <img data-ng-src="images/books/{{book.CoverImage}}" alt="{{book.Title}}" />
    </div>
    <div class="col-md-8 col-sm-12" style="float:left; display:inline-block;">
        <br />
        <span>Author - {{book.Author}}</span>
        <br />
        <span>Publisher - {{book.Publisher}}</span>
        <br />
        <span check-isbn="ISBN-{{book.ISBN}}"></span>
        <br />
        <br />
        <p>{{book.Summary}}</p>
    </div>
</div>
