<div class="jumbotron">
    <h1>{{title}}</h1>
</div>

<div class="container">
    <div class="col-sm-12 col-md-4 search-filter">
        <div class="input-group">
            <input type="text" data-ng-model="search.text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" data-ng-click="toggleShowOnlyFavorites()" type="button">{{showOnlyFavorites ? 'Show all books' : 'Show only favorites'}}</button>
            </span>
        </div><!-- /input-group -->

    </div>
    <ul class="books-list">
        <li data-ng-repeat="book in books | filter:filterByTitle | orderBy:'Favorite':true" style="float:left; display:inline-block; padding:5px;" class="col-md-4 col-sm-6 col-xs-12">
            <div class="book-box">
                <div data-ng-click="toggleFavorite(book)" class="inner-triangle book-favorite">
                    <span data-ng-hide="book.Favorite" class="glyphicon glyphicon-star-empty book-fav-star"></span>
                    <span data-ng-show="book.Favorite" class="glyphicon glyphicon-star book-fav-star"></span>
                </div>
                <div class="book-image" style="background-image:url(../www/images/books/{{book.CoverImage}})">
                    <!--                <img data-ng-src="images/books/{{book.CoverImage}}" style="width:100%;max-height:300px;object-fit:cover;" height="100%" alt="{{book.Title}}" />-->
                </div>
                <div style="padding:5px;">
                    <span style="font-size:16px;"><a href="#/book/{{book.Id}}"><strong>{{book.Title}}</strong></a></span>
                    <br />
                    <i>{{book.Author}}</i>
                    <br />
                    <span>{{book.Publisher}}</span>
                    <br />
                    <span check-isbn="ISBN-{{book.ISBN}}"></span>
                    <hr />
                </div>
            </div>
        </li>
    </ul>
</div>
